<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logos - BdE INSA Lyon</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="./style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Import Vue.js -->
    <!--<script src="https://unpkg.com/vue"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>

</head>
<body>

<div class="container">

    <div class="jumbotron text-center" id="header">
        <h1>LOGOS</h1>
        <p class="lead">Retrouve sur cette page les logos utilisées par le BdE INSA Lyon</p>
        <p><a class="btn btn-lg btn-success" href="https://github.com/BdEINSALyon/logos-bde/archive/master.zip"
              role="button">Télécharger tous les logos</a></p>
    </div>

    <div class="row marketing" id="teams">
        <div class="team" v-for="team in teams">
            <h4>{{ team.name }}</h4>
            <div v-bind:class="team.direction">
                <div v-for="set in team.images" class="logos">
                    <h5>{{ set.name }}</h5>
                    <div v-bind:class="set.direction">
                        <a v-for="pic in set.pics" v-bind:href="getLink(team, pic)">
                            <img v-bind:src="getLink(team, pic)" v-bind:class="getClasses(pic)">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-center" style="margin-top: 8em">
        <p>&copy; 2016 BdE INSA Lyon</p>
        <p>&nbsp;</p>
        <p>Le logo INSA Lyon est la propriété de l'INSA de Lyon</p>
        <p>Le logo Villeurbanne est la propriété de la ville de Villeurbanne</p>
        <p>Le logo et la marque BNP sont la propriété du groupe BNP Paribas</p>
        <p>Le logo et la marque Orange sont la propriété de Orange</p>
        <p>Les logos BdE, COOP, Gala, RAID INSA Lyon Orange, WEI, CoDIPC, INSA Shop, Bal, i5, Vie Associative sont la
            propriété du BdE INSA Lyon</p>
        <p>L'utilisation de tout logo sur cette page doit faire l'objet d'une autorisation préalable du
            propriétaire.</p>
    </footer>

    <!-- This script needs to be at the end in order for Vue to use the existing DOM. -->
    <!-- Otherwise, elements of the DOM are not accessible within JS. -->
    <script src="./script.js"></script>

</div> <!-- /container -->
</body>
</html>
