#bgcolor {
    background: darkgray;
}

#header {
    margin-top: 3em;
    background: dimgray;
}

.logos {
    text-align: center;
    border: solid #DDD 1px;
    border-radius: 5px;
    margin: 1em 1em 1em 3em;
    padding: 1em;
}

.logos img {
    max-height: 128px;
    max-width: 200px;
    margin: 2px;
    cursor: pointer;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.black_background {
    background: black;
}

h4 {
    text-align: center;
    font-size: xx-large;
}

h5 {
    text-align: center;
    margin-top: 0;
}

#teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
